.DS_Store

shoebox/cache/*
composer.lock
/vendor
/.history
.env
lace.json
public/outsole

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project