LACE_APP_BRAND_NAME=
LACE_APP_SHOW_BLISTERS=
LACE_ENV=
LACE_APP_DEBUG=
LACE_APP_LOGGING=
LACE_APP_BASE_URL=https://localhost.com/lacephp/public
LACE_APP_GRIP_LEVEL=

# Use sqlite by default:
DB_DRIVER=sqlite
DB_FILE=database.sqlite

# Or, for MySQL:
# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=
# DB_CHARSET=utf8mb4
# DB_COLLATION=utf8mb4_unicode_ci

API_KEY=
JWT_SECRET=