# Use sqlite by default:
DB_DRIVER=sqlite
DB_FILE=database.sqlite

# Or, for MySQL:
# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=
# DB_CHARSET=utf8mb4
# DB_COLLATION=utf8mb4_unicode_ci

API_KEY=
JWT_SECRET=